bbody {
    background-image: url("assets/images/uberCar.jpg");
  }
  .container {
  background-color: #e7e7e7;
  
      height: auto;
      overflow: auto;

  
  }
  
  
  .col-sm-10 {
      height: auto;

      
  }
  
  .col-sm-2 {
      text-align: center;
      line-height: 80px;
      padding: 5px;
      height: 600px;
      
  
  }
  .hr {
      line-height: 10px;
  }
  
  
  .btn {
      width: 125px;
      padding: 10px;
  
  }
  .logo {
      width: 150px;
      padding: 10px;
  
  }
  
  #imageUsed {
          width: 170px;
      padding: 10px;
  background-image: url("");
  
  }

