html,
body {
  height: 100%;
  margin: 0px;
  padding: 20px;

}

.container {
  background-color: #e7e7e7;
  height: auto;
  overflow: auto;
}
.col-sm-10 {
  height: auto;
}
.col-sm-2 {
  text-align: center;
  line-height: 80px;
  padding: 5px;
  height: 600px;
}
.hr {
  line-height: 10px;
}
.logo {
  width: 150px;
  padding: 10px;
}
#imageUsed {
  width: 170px;
  padding: 10px;
  background-image: url("");
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 600px;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 0px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
